Requirements สำหรับ Web Application สำหรับ To-do List

                  Functional Requirements

1. สามารถเพิ่มข้อมูลเพื่อสร้างรายการสิ่งที่จะทำในแต่ละวันได้
2. สามารถลบช้อมูลที่มีอยุ่ได้
3. สามารถแก้ไขรายละเอียดข้อมูลได้
4. สามารถเลือกลบรายการที่เราได้ทำไปแล้ว
5. สามารถดูข้อมูลรายการที่บันทึกได้
6. สามารถจัดเก็บข้อมูลใน account ของตัวเองได้
7. สามารถแชร์ข้อมูลรายการให้ผู้อื่นเห็นได้
8. มีการแจ้งเตือนเมื่อข้อมูลรายการที่เราทำการเพิ่มนั้นมีวันเวลาตรงกับข้อมูลที่มีอยู่แล้ว
9. มีการแจ้งเตือนเมื่อใกล้ถึงรายการสิ่งที่ต้องทำได้
10. สามารถบันทึกรูปภาพลงไปในกิจกรรมประจำวันได้
11. สามารถ backups ข้อมูลรายการของผู้ใช้งานเพื่อป้องกันข้อมูลสูญหายได้  "Functional เจ๋ง ๆ"


                   Non-functional Requirements

1. มีรูปแบบที่ผู้ใช้สามารถเข้าใจและใช้งานได้อย่างง่ายไม่ซับซ้อนในการใช้งาน     // Usability Requirements
2. มีการเก็บข้อมูลของผู้ใช้อย่างดี ผู้อื่นไม่สามารถเข้าถึงรายการของเราได้   // Privacy Requirements
3. มีการแจ้งเตือนที่ถูกต้องแม่นยำเพื่อไม่ให้พลาดสิ่งที่เราต้องทำตามรายการ      // Product Requirements  -> Efficiency Requirements
4. มีการจัดเก็บข้อมูลที่ถูกต้องและรวดเร็ว โดยมีขั้นตอนที่เรียบง่ายไม่ต้องรอโหลดนาน            //  Product Requirements  -> Performance Requirements
5. สามารถใช้งาน  Web Application  ได้ทั้งคอมพิวเตอร์ , สมาร์ทโฟน และ  แท็บเล็ต       //  Product Requirements  ->  Portability Requirements
 


